
  /* ============= Animation background ========= */

  body {
      overflow: scroll !important;
  }
.background {
	background: purple;
	background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding:0;
	margin:0px;
}

  .cube {
      position: absolute;
      top: 60vh;
      left: 45vw;
      width: 10px;
      height: 10px;
      border: solid 1px #D7D4E4;
      transform-origin: top left;
	  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
	  -webkit-animation: cube 12s ease-in forwards infinite;
      z-index: -1;
  }
  .cube:nth-child(2n) {
      border-color: #FFF ;
  }
  .cube:nth-child(2) {
      animation-delay: 2s;
      left: 25vw;
      top: 40vh;
  }
  .cube:nth-child(3) {
      animation-delay: 4s;
      left: 75vw;
      top: 50vh;
  }
  .cube:nth-child(4) {
      animation-delay: 6s;
      left: 90vw;
      top: 10vh;
  }
  .cube:nth-child(5) {
      animation-delay: 8s;
      left: 10vw;
      top: 60vh;
  }
  .cube:nth-child(6) {
      animation-delay: 10s;
      left: 50vw;
      top: 10vh;
  }
/* Animate Background*/
@keyframes Gradient {
0% {
	background-position: 0% 50%;
}
50% {
	background-position: 100% 50%;
}
100% {
	background-position: 0% 50%;
}
}
@keyframes cube {
from {
	transform: scale(0) rotate(0deg) translate(-50%, -50%);
	opacity: 1;
}
to {
	transform: scale(20) rotate(960deg) translate(-50%, -50%);
	opacity: 0;
}
}

/* Main content */

.round{
	position: relative;
	border-radius: 10px;
	top: 0;
	transition: transform ease 0.25s;
}

.round:hover{
	background-color: #212335;
	transform: translateY(-10px);
}

a {
	color: black;
	text-decoration: none;
}

.advices a {
	text-decoration: underline;
}

p {
	border-radius: 10px;
	background-color: white;
	font-size: 1.2em;
}

/* Responsive style */

@media (min-width: 800px) {
	header {
		margin: 50px 0;
	}
	#display {
		width: 50%;
	}
}

@media (max-width: 800px) {
	main h1 {
		font-size: 1.2em;
	}
	header div {
		display: none;
	}
	#display p {
		font-size: 1em;
	}
}